/*----kontakty--------*/

/*----------main---------*/

/* --------------------------------- */

/* ---------------------- */

/* ---------------------------------portfolio */

/* ----------------------------- */

/* ----------------------------portfolio */

/*===========overlay-portfolio==========*/

/*===============overlay=========*/

/*------------------our clients-------------*/

/*---------footer--------*/

/*-----------footer-socialmedia-----------------*/

/*============OKNO MODALNE================*/



/* .modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 16px;
} */
/* .modal-form-policy:checked {
  background-color: #2196f3;
  border: none;
} */
/* .modal-form-policy {
  width: 0;
  height: 0;
  opacity: 0;
  margin-left: 16px;
} */

/* .hidden {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
} */
/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
padding: 0 !important;
border: 0 !important;
height: 1px !important;
width: 1px !important;
overflow: hidden;

} */

