.about {
  &__card-set {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  &__icon {
    width: 100%;
    height: 120px;
    background-color: $light-white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__lorem {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $gray;
  }

  &__lorem-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $brand-color;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .about {
    &__card-set {
      flex-direction: row;
      gap: 10px;
    }

    &__icon {
      width: 270px;
      height: 120px;
      background-color: $light-white;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    &__item {
      flex-basis: calc((100% - 30px) / 4);
    }
    &__lorem {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $gray;
    }

    &__lorem-p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $brand-color;
    }
  }
}
// ==========
@media (min-width: 1200px) {
  .about {
    &__card-set {
      flex-direction: row;
      gap: 10px;
    }

    &__icon {
      width: 270px;
      height: 120px;
      background-color: $light-white;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }
    &__item {
      flex-basis: calc((100% - 30px) / 4);
    }
    &__lorem {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $gray;
    }

    &__lorem-p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $brand-color;
    }
  }
}
