.about {
  &__card-set {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) {
      max-width: 738px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      display: flex;
      flex-direction: row;
    }
  }

  &__icon {
    @media screen and (min-width: 480px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      max-width: 738px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    height: 120px;
    background-color: $light-white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px) / 4);
    }
  }
  &__lorem {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $gray;
  }
  &__lorem {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $gray;
  }
  &__lorem-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $brand-color;
  }
}
