.footer {
  &__newsletter-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    margin-top: 72px;
    margin-left: 78px;
    margin-bottom: 20px;
  }
  &__newsletter-form {
    display: flex;
  }
  &__newsletter-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    height: 50px;
    width: 358px;
    margin-left: 78px;
    margin-right: 12px;
    padding: 16px;
    outline: none;
    color: $white;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__newsletter-input {
    &:focus-within {
      border-color: $main-blue;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__newsletter-btn {
    display: flex;
    border: none;
    width: 200px;
    height: 50px;
    background-color: $main-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white;
    fill: $white;
    cursor: pointer;
    width: 24;
    height: 24;
    padding-left: 42px;
  }
  &__newsletter-btn svg {
    margin-left: 24px;
  }
}
